.control {
  margin-bottom: 20px;

  &.control--align-right {
    display: flex;
    justify-content: right;
  }

  &.control--horizontal,
  &.control--horizontal-variable {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.control__description {
  font-size: 13px;
  line-height: 160%;
  color: $color-neutral-600;
  margin-bottom: 16px;
}

.control__label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
  @include flex-align-items(3px);

  & + :not(.control__description) {
    margin-top: 16px;
  }

  &.control__label--small {
    font-size: 13px;
    font-weight: 600;

    & + :not(.control__description) {
      margin-top: 4px;
    }
  }

  .control--horizontal & {
    flex-basis: 30%;
    font-weight: 500;
    margin: 0;
  }

  .control--horizontal-variable & {
    flex: auto 0 0;
    font-weight: 500;
    margin: 0;
  }
}

.control__label-icon {
  font-size: 16px;
}

.control__label-right-icon {
  height: 16px;
  top: 3px;
  position: relative;
}

.control__elements {
  .control--horizontal & {
    flex-basis: 70%;
    margin-top: 0;
  }

  .control--horizontal-variable & {
    margin-top: 0;
    margin-left: 16px;
  }
}

.control__elements--flex {
  display: flex;
  align-items: center;
  gap: 16px;
}

.control__context {
  cursor: pointer;
  color: $color-neutral-900;
  font-size: 16px;

  &:hover {
    text-decoration: none;
    color: $color-neutral-500;
  }
}

.input {
  appearance: none;
  display: block;
  width: 100%;
  border: 1px solid $color-neutral-400;
  padding: 8px 12px;
  outline: none;
  line-height: 100%;

  @include rounded($rounded-md);

  &:active,
  &:focus {
    border-color: $color-primary-500;
  }

  &.input--large {
    padding: 12px 12px;
  }

  &.input--error {
    border-color: $color-error-500;
  }

  &.input--monospace {
    font-family: monospace;
  }

  &[disabled] {
    color: $color-neutral-900;
    background-color: $color-neutral-50;

    &:active,
    &:focus {
      border-color: $color-neutral-400;
    }
  }
}

.textarea--modal {
  resize: vertical;
  height: 22px * 6;
  line-height: 22px;
  font-size: 13px;
}

.input__with-icon {
  position: relative;

  .input {
    padding-right: 32px;
  }

  i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-neutral-500;
    font-size: 16px;
  }

  &.input__with-icon--left {
    .input {
      padding-left: 32px;
      padding-right: 8px;

      &.input--large {
        padding-right: 12px;
      }
    }

    i {
      right: auto;
      left: 12px;
    }
  }

  &.input__with-icon--loading {
    &::after {
      content: ' ';
      margin-top: -7px;

      @include loading(14px);
      @include absolute(50%, 10px, auto, auto);
    }

    i {
      display: none;
    }

    &.input__with-icon--left::after {
      left: 10px;
      right: auto;
    }
  }
}

.checkbox {
  position: relative;
  height: 28px;
  cursor: pointer;
  user-select: none;
  @include flex-align-items(4px);

  &::before {
    content: '';
    border: 1px solid $color-neutral-400;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: $white;
    color: $color-success-600;
    @include rounded($rounded);
  }

  &.checkbox--disabled {
    cursor: not-allowed;
    color: $color-neutral-500;

    &::before {
      background-color: $color-neutral-50;
      color: $color-neutral-500;
    }
  }
}

.checkbox__label {
  color: $palette-neutral-900;
  cursor: pointer;

  .checkbox.active & {
    color: $palette-neutral-1200;
  }
}

.checkbox__checked-icon {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  color: $color-success-600;
  font-size: 16px;
}

.radio {
  position: relative;
  height: 28px;
  line-height: 28px;
  padding-left: 18px;
  cursor: pointer;
  user-select: none;
  @include flex-align-items(4px);

  &.radio--has-content {
    padding-left: 24px;

    i {
      font-size: 16px;
    }
  }

  &::before {
    @include absolute(5px, auto, 0, 0);

    content: '';
    font-size: 10px;
    border: 1px solid $color-neutral-400;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: $white;
    color: $white;
  }

  &.selected::before {
    background-color: $color-primary-500;
    border-color: $color-primary-500;
  }

  &.radio--disabled {
    cursor: inherit;
    color: $color-neutral-600;

    &::before {
      background-color: $color-neutral-50;
    }

    &.selected::before {
      background-color: $color-neutral-500;
      border-color: $color-neutral-500;
    }
  }

  .radio__checked-icon {
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    color: $white;
    font-size: 16px;
  }

  &.radio--loading {
    cursor: inherit;

    &::before {
      display: none;
    }

    &::after {
      content: '';

      @include loading(14px);
      @include absolute(7px, auto, 0, 1px);
    }
  }
}

.switch {
  position: relative;
  cursor: pointer;
  user-select: none;
  height: 28px;
  line-height: 28px;
  @include flex-align-items(10px);

  &.switch--static {
    cursor: initial;
    user-select: initial;
  }

  &::before {
    content: '';
    @include rounded($rounded-xl);

    width: 24px;
    height: 16px;
    background-color: $color-neutral-600;
  }

  &::after {
    content: '';
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: $white;
    transition: left 0.1s ease-in;
    box-shadow: 0 1px 3px 0 rgba(7, 13, 16, 0.15),
      0 0 1px 0 rgba(7, 13, 16, 0.15);

    @include absolute(8px, auto, auto, 2px);
  }

  &.unknown {
    &::before {
      background-color: $palette-yellow-500;
    }

    &:hover {
      &::before {
        background-color: $palette-yellow-800;
      }
    }

    &::after {
      left: 6px;
    }
  }

  &:hover {
    &::before {
      background-color: $color-neutral-500;
    }
  }

  &.active {
    &::before {
      background-color: $palette-green-500;
    }

    &:hover {
      &::before {
        background-color: $palette-green-800;
      }
    }

    &::after {
      left: 10px;
    }
  }

  &.switch--disabled {
    cursor: not-allowed;

    &::before {
      background-color: $palette-neutral-400;
    }

    &::after {
      box-shadow: none;
    }
  }

  &.switch--large {
    &::before {
      height: 24px;
      width: 40px;
    }

    &::after {
      top: 4px;
      width: 20px;
      height: 20px;
    }

    &.unknown {
      &::after {
        left: 8px;
      }
    }

    &.active::after {
      left: 17px;
    }
  }
}

.switch__label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $palette-neutral-900;
  cursor: pointer;

  .switch--disabled & {
    color: $palette-neutral-700;
  }

  .switch.active & {
    color: $palette-neutral-1200;
  }
}

.error {
  margin-top: 6px;
  color: $color-error-500;
  @include flex-align-items(4px);
}

.warning {
  margin-top: 6px;
  color: $color-warning-600;
}

.actions {
  @extend %first-last-no-margin;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;

  > div {
    width: 100%;
  }

  &.actions--right {
    justify-content: right;
  }
}

.action__links {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin-right: 20px;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }
  }
}
